.admin_userlist {
  background-color: var(--nav-bg);
  border: 1px solid var(--border-line);
  border-radius: 4px;

  .navbar {
    display: flex;
    padding: 10px;
    font-weight: bold;

    .navbar_number {
      flex: 0.5;
    }

    .navbar_name {
      flex: 1;
    }

    .navbar_email {
      flex: 2;
    }

    .navbar_profile {
      flex: 2;
    }
  }

  .navbar>div {
    text-align: center;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-line);
    padding: 10px;

    .list_number {
      flex: 0.5;
    }

    .list_name {
      flex: 1;
    }

    .list_email {
      flex: 2;
    }

    .list_profile {
      flex: 2;

      img {
        width: 7rem;
        height: 7rem;
      }
    }
  }

  .list:nth-child(2n) {
    background-color: var(--body-bg);
  }

  .list>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8rem;
  }
}

.user_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  .dashboard-link {
    text-align: center;
    width: 4rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--font-color);
    transition: .5s;

    &:hover {
      background-color: var(--pink-color);
      color: #eee;
    }
  }

  .active-link {
    background-color: var(--pink-color);
    color: #eee;
  }
}